<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anzy.bussiness.sys.dao.AuthorityDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.anzy.bussiness.sys.entity.Authority">
        <id column="id" property="id" />
        <result column="data_url" property="dataUrl" />
        <result column="menu_class" property="menuClass" />
        <result column="menu_code" property="menuCode" />
        <result column="menu_name" property="menuName" />
        <result column="parent_menucode" property="parentMenucode" />
        <result column="sequence" property="sequence" />
        <result column="menu_type" property="menuType" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
