body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    background: rgba(120, 214, 236, 0.36);
    font-family: "Microsoft Yahei","微软雅黑";
}
*{
    margin: 0;
    padding: 0;
    color: #00adfe;
}
input::-webkit-input-placeholder{
    color: #00adfe;
}
input::-moz-placeholder{
    color: #00adfe;
}
.bg-box{
    width: 1000px;
    height: 560px;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.bg-box h1{
    text-align: center;
    font-size: 28px;
    color: #00adfe;
    padding-top:40px;
    font-weight: normal;
}
.button{
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    position: absolute;
    bottom: 10%;
    right: 10%;
}
.button a{
    width:150px;
    height: 50px;
    border-radius: 0 50px 50px 0;
    text-decoration: none;
    background: #00adfe;
    display: block;
    color:#FFF;
}
.button a:hover{
    background: #40e5f0;
}

/*账号密码登录*/
.main{
    width: 1200px;
    height: 542px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.main > h3{
    text-align: center;
}
.login-box{
    width: 400px;
    height: 200px;
    margin: 125px 0 0 400px;
}
.login-box input{
    width: 400px;
    height: 30px;
    border: 1px solid #00adfe;
    line-height: 30px;
    outline: none;
    margin-top: 20px;
    background: none;
    text-indent: 15px;
}
.login-box p{
    color: #59e3e6;
    text-align: right;
    margin: 10px 0;
    font-size: 14px;
    height:14px;
}
.button1{
    width: 118px;
    height: 33px;
    border:1px solid #02a1df;
    text-align: center;
    line-height: 33px;
    background: #085b95;
    color: #00adfe;
    cursor: pointer;
    border-radius: 2px;
}
.button1:hover{
    background: #60e6db;
    border: 1px solid #FFF;
    color: #FFF;
}
.button1-right{
    float: right;
}
.control-download {
    text-align: center;
    line-height: 18px;
    font-size: 14px;
    position: absolute;
    bottom: 16%;
    right: 88%;
}

.control-download a {
    width: 150px;
    height: 18px;
    font-size: 14px;
    display: block;
    color: #02f8ff;
}